<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efrobot.guests">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.efrobot.guests.GuestsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.efrobot.guests.main.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.efrobot.guests.setting.SettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".face.FaceRecoActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".face.RegisterImageCameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".face.ManageFaceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />

        <provider
            android:name="com.efrobot.guests.speech.CusProvider"
            android:authorities="com.efrobot.guests.speechSdkProvider"
            android:exported="true" />

        <receiver android:name="com.efrobot.guests.speech.SpeechReceiver">
            <intent-filter>
                <action android:name="com.efrobot.speechlibrary.ACTION_SPEECH_DISCERN_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.efrobot.guests.service.UltrasonicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.efrobot.guests.action.AddBodyShowView" />
        <activity android:name="com.efrobot.guests.explain.ExplainActivity" />

        <service android:name="com.efrobot.guests.speech.AlarmUlService" />

        <receiver android:name="com.efrobot.guests.speech.AlarmUlService$AlarmEndReceiver" />
        <receiver android:name="com.efrobot.guests.speech.AlarmUlService$AlarmStartReceiver" />

        <activity
            android:name="com.efrobot.guests.setting.advanced.AdvancedSettingActivity"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name="com.efrobot.guests.broadcast.ReceiveMaskBroadcast">
            <intent-filter android:priority="3">
                <action android:name="android.intent.action.MASK_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>